body{
    background-color: white;
}
table{
    background-color: grey;

}
td{
    background-color: aqua;
}
button{
    border: solid;
    background-color: blue;
    text-align: right;
    margin-top: 50px;
    margin-left: 1000px;
    
}
